/* body {
    background-image:url(https://unsplash.com/photos/QcMI3sETm1Q);
} */
/* @media (max-width : 500px){
    body {
        background-color: brown;
    }
} */

.big-banner{
    background-image: url('./image/pexels-3photo-4143800.jpeg');
    /* -webkit-background-size: cover ; */
    height: 100%;
    background-position: 10vh;
    
    
}
    
